<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321091717180-jku9pp6kf8hp0h721c868dsns1mpn7ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321091717180-jku9pp6kf8hp0h721c868dsns1mpn7ug</string>
	<key>API_KEY</key>
	<string>AIzaSyA2dPndu318xNR0HJ6SogWYRkn3VF0srcY</string>
	<key>GCM_SENDER_ID</key>
	<string>321091717180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roboline.MyNewCrashlyticsTestWithUniqueBundle</string>
	<key>PROJECT_ID</key>
	<string>ocourier-1f17c</string>
	<key>STORAGE_BUCKET</key>
	<string>ocourier-1f17c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321091717180:ios:1592bcb008598f46619b39</string>
	<key>DATABASE_URL</key>
	<string>https://ocourier-1f17c.firebaseio.com</string>
</dict>
</plist>